name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@master
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload distributions
      uses: actions/upload-artifact@master
      with:
        name: distributions
        path: ./build/distributions
    - name: Upload libs
      uses: actions/upload-artifact@master
      with:
        name: libs
        path: ./build/libs
